body {
  margin: 0;
  padding: 0;
  background-color: var(--section-bg-color) !important;
}

* {
  box-sizing: border-box !important;
}

p {
  color: var(--dark-color) !important;
}

button {
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
}

.top {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-image: linear-gradient(20deg, var(--custom-btn-bg-color) 30%, var(--primary-color) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-finish {
  
  /* position: absolute;
  transform: translateY(-50%);
  right: 0;
  top: 50%; */
  
  margin-right: 10px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-in-out;
  background-color: var(--border-color) !important;
  border: 1px solid var(--border-color) !important;
  color: var(--dark-color) !important;
  height: 40px;
}

.btn-finish:hover {
  background-color: var(--light-transparent) !important;
  color: var(--white-color) !important;
}

.btn-back {
  position: absolute;
  transform: translateY(-50%);
  left: 0;
  top: 50%;
  margin-left: 10px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

/* timer */
.timer {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 24px;
}

.timer__text {
  font-weight: bold;
  margin-right: 10px;
  color: var(--white-color);
}

.timer__time {
  font-weight: bold;
  color: var(--white-color);
}

.timer__time--red {
  color: #ff5252;
}

/* end timer */

/* main */
.main {
  padding: 70px 0;
}

/* end main */

/* left col */
.left {
  padding: 0 !important;
  border-radius: 10px;
  margin-right: 10px;
}

/* end left col */

/* question palette */
.question-palette {
  max-height: 50vh;
  overflow: auto;
  background-color: transparent !important;
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
  border-radius: 10px;
  border-top-left-radius: 0;
  position: sticky;
  align-self: flex-start;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}

.question-palette__content {
  border-radius: 10px;
  border-top-left-radius: 0;
  width: 100%;
  background-color: #fff;
  padding: 5px 10px;
  min-height: 200px;
  height: 100%;
}

.question-palette__label {
  background-color: #fff;
  font-weight: bold;
  display: inline-block;
  padding: 3px 8px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.question-palette__title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

.question-palette__list {

  /* display: grid;
  grid-template-columns: repeat(10, 1fr); */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: auto;
}

.question-palette__item {
  flex-basis: 10%;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  height: 25px;
  min-width: 25px;
  padding: 7px;
  margin: 3px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--p-color);
  transition: all 0.3s ease-in-out;
}

.question-palette__item:hover {
  background-color: var(--secondary-color);
}

.question-palette__item--flagged {
  background-color: #ffc107 !important;
}

.question-palette__item--selected {
  background-color: #81c6ff;
}

.question-palette__item--correct {
  background-color: #53ce57 !important;
}

.question-palette__item--incorrect {
  background-color: #da3939cc !important;
}

.question-palette__item--active {
  background-color: var(--secondary-color);
  border: 2px solid var(--p-color);
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
}

/* end question palette */

/* question */
.right {
  position: relative;
}

.right .placeholder {
  width: 100% !important;
  height: 100%;
}

.questions {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.question-container {
  display: none;
}

.question-container.show {
  display: block;
}

.question-container img {
  cursor: pointer;
}

.question-main {
  width: 90%;
  margin: auto;
  position: relative;
  display: none;
}

.question-main.show {
  display: block;
}

.question-container__audio {
  text-align: center;
  padding: 10px 0;
}

.question-container__audio audio {
  outline: none;
}

.question-main__content {
  padding: 10px 20px;
}

.question-main__options {
  padding: 20px;
}

.question-main__option {
  background-color: #2195f32f;
  margin: 5px 0;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  transition: all 0.2s ease-in-out;
}

.question-main__option:hover,
.question-main__option--selected {
  background-color: #2195f3 !important;
  box-shadow: 0 0 5px 3px rgb(0 0 0 / 20%) !important;
  color: var(--white-color);
}

.question-main__option--correct {
  background-color: #53ce57 !important;
  box-shadow: 0 0 5px 3px rgb(0 0 0 / 20%) !important;
  color: var(--white-color);
}

.question-main__option--incorrect {
  background-color: #ff5252 !important;
  box-shadow: 0 0 5px 3px rgb(0 0 0 / 20%) !important;
  color: var(--white-color);
}

.question-main__option--disabled label {
  cursor: not-allowed !important;
}

.question-main__option label {
  width: 100%;
  height: 100%;
  padding: 5px;
  cursor: pointer;
}

.question-main__option input {
  display: none;
}

.questions__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.question-hint {
  position: absolute;
  right: 0;
  transform: translateX(100%);
  margin: 10px 20px;
  font-size: 10px !important;
  padding: 5px !important;
  background-color: var(--custom-btn-bg-color) !important;
  border: none !important;
}

.question-hint:hover {
  background-color: var(--custom-btn-bg-hover-color) !important;
}

.question-container__context {
  padding: 20px;
  text-align: left;
  background-color: var(--section-bg-color);
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
  border: 1px solid var(--border-color);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  max-height: 45vh;
  overflow: auto;
  font-size: 16px;
}

.question-container__context p {
  font-size: 16px !important;
}

.question-container__context img {
  max-width: 100%;
}

/* .question-main-container {
  max-height: 35vh;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  overflow: auto;
} */
/* .question-main-container > .question-main::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--border-color);
} */
.question-container__note p {
  font-size: 16px !important;
  font-weight: bold;
  font-style: italic;
}

/* end question */

/* result */
.quiz-result {
  min-width: max-content;
  border: 2px solid var(--border-color) !important;
  border-radius: 6px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
  transition: 0.5s all ease-in;
  transition-delay: 0.3s;
  background-color: var(--secondary-color) !important;
}


.quiz-result__title {
  color: var(--white-color);
}

.quiz-result .percentage-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 40px;
}

.circular-progress {
  position: relative;
  width: 250px;
  height: 250px;
  background: conic-gradient(var(--border-color) 3.6deg, rgb(255 255 255 / 10%) 0deg);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular-progress::before {
  content: '';
  position: absolute;
  width: 210px;
  height: 210px;
  background-image: linear-gradient(300deg, var(--dark-color) 0%, var(--secondary-color) 100%);
  border-radius: 50%;
}

.circular-progress .progress-value {
  position: relative;
  font-size: 45px;
  font-weight: 600;
}

.percentage-container .score-text {
  font-size: 26px;
  font-weight: var(--font-weight-semibold);
  margin-top: 20px;
}

.buttons button {
  width: 130px;
  height: 47px;
  background: var(--border-color);
  border: 2px solid var(--border-color);
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  margin: 0 5px 20px;
  cursor: pointer;
  transition: 0.5s;
}

.buttons button:nth-child(2) {
  background: transparent;
  color: var(--border-color);
}

.buttons button:nth-child(2):hover {
  background: var(--border-color);
  color: var(--dark-color);
}

.buttons button:nth-child(1):hover,
.buttons button:nth-child(3):hover {
  background: var(--light-transparent);
  color: var(--white-color);
}

/* end result */

/* toogle */
.toggle-editor-btn {
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 3px;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 8px;
  border-radius: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider::before {
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

/* end toogle */

.viewer-toolbar ::marker {
  font-size: 0 !important;
}

.notification {
  background-color: var(--custom-btn-bg-color);
  padding: 5px 10px;
  width: fit-content;
  border-radius: 5px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  transition: all 0.3s ease-in-out;
}