@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*-------------------------------------------------
  CÀI ĐẶT CSS CHO MỘT SỐ BIẾN THƯỜNG XUYÊN SỬ DỤNG             
-------------------------------------------------*/
:root {
  /*-------------------------------------------------
  BẢNG MÀU CHÍNH CỦA APP          
  -------------------------------------------------*/
  --white-color: #ffffff;
  --primary-color: #0c134f;
  --secondary-color: #1d267d;
  --section-bg-color: #f0f8ff;
  --custom-btn-bg-color: #91d0e5;
  --custom-btn-bg-hover-color: #1d267d;
  --dark-color: #000000;
  --p-color: #717275;
  --border-color: #a5d7e8;
  --link-hover-color: #1d267d;

  --body-font-family: "Open Sans", sans-serif;
  --title-font-family: "Montserrat", sans-serif;

  --h1-font-size: 58px;
  --h2-font-size: 46px;
  --h3-font-size: 32px;
  --h4-font-size: 28px;
  --h5-font-size: 24px;
  --h6-font-size: 22px;
  --p-font-size: 20px;
  --menu-font-size: 14px;
  --btn-font-size: 18px;
  --copyright-font-size: 16px;

  --border-radius-large: 100px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

body {
  background-color: var(--white-color);
  font-family: var(--body-font-family);
}

/*! START NAVBAR */
#topNav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

/** navbar background */
#topNav .navbar {
  /* background-color: var(--primary-color); */
  background-color: transparent;
  border-bottom: 1px solid var(--dark-color);
  z-index: 9;
}
/** end navbar background */

/** navbar background slogan */
#topNav .navbar-brand,
#topNav .navbar-brand:hover {
  font-size: var(--h3-font-size);
  font-weight: var(--font-weight-bold);
  display: block;
}
/** end navbar background slogan */

/** navbar link */
#topNav .navbar-nav .nav-link {
  display: inline-block;
  color: var(--white-color);
  font-family: var(--title-font-family);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  position: relative;
  margin: 0 10px;
}

#topNav .navbar-nav .nav-link.active,
#topNav .navbar-nav .nav-link:hover {
  color: var(--custom-btn-bg-color);
}
/** end navbar link */

/** navbar profile */
#topNav .navbar-icon {
  background: var(--white-color);
  border-radius: var(--border-radius-large);
  display: inline-block;
  font-size: var(--h5-font-size);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all 0.3s ease;
}

#topNav .navbar-icon:hover {
  background: var(--primary-color);
  color: var(--white-color);
}
/** end navbar profile */

/** navbar responsive menu  */
#topNav .navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

#topNav .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

#topNav .navbar-toggler .navbar-toggler-icon {
  color: var(--white-color);
}
/** end navbar responsive menu  */

/** nav-links dropdown-menu  */
#topNav .navbar .dropdown-menu {
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  border: 0;
  display: inherit;
  opacity: 0;
  min-width: 9rem;
  margin-top: 20px;
  padding: 13px 0 10px 0;
  transition: all 0.3s;
  pointer-events: none;
}

@media screen and (min-width: 992px) {
  #topNav .navbar .dropdown:hover .dropdown-menu {
    opacity: 1;
    margin-top: 0;
    pointer-events: auto;
  }
}

@media screen and (max-width: 992px) {
  #topNav .navbar .dropdown .dropdown-menu {
    opacity: 1;
    margin-top: 0;
    pointer-events: auto;
    max-width: max-content;
  }
}

#topNav .navbar .dropdown-item {
  display: inline-block;
  color: var(--p-bg-color);
  font-family: var(--title-font-family);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  position: relative;
}

#topNav .navbar .dropdown-item.active,
#topNav .navbar .dropdown-item:active,
#topNav .navbar .dropdown-item:focus,
#topNav .navbar .dropdown-item:hover {
  background: transparent;
  color: var(--custom-btn-bg-color);
}

/** nav-links dropdown-menu  */
/*! END NAVBAR */
