@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #0C134F, #1D267D);
  background-size: cover;
  backdrop-filter: blur(100px);
  /* background-repeat: no-repeat; */
}

div {
  box-sizing: border-box;
}

.hl {
  color: #0C134F;
  font-weight: bold;
}

.nor-hl {
  color: #0C134F;
}

.white-hl {
  color: #fff;
  font-weight: bold;
}

h1 {
  margin: 0;
  color: #fff;
  font-size: 65px;
  font-weight: bold;
}

h2 {
  margin: 0;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
}

h3 {
  margin: 0;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

h4 {
  margin: 0;
  color: #000;
  font-size: 18px;
  font-weight: 400;
}

p {
  color: #fff;
  font-size: 18px;
  margin: 0;
  /* text-align: justify; */
}

li {
  list-style: none;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease;
}

span {
  color: #000;
  font-size: 18px;
}


/* Start Header  */
#header {
  margin: 0;
  position: sticky;
  height: auto;
  top: 0;
  left: 0;
  background-color: #0C134F;
  z-index: 999;
}

html {
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.icon {
  width: 25px;
}

.nav {
  padding: 0 5%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row.index {
  justify-content: center !important;
}

.col {
  display: flex;
  flex-direction: column;
}

.mini-bold {
  font-size: 15px;
  font-weight: 700;
}
.mini-nor {
  font-size: 15px;
  font-weight: 500;
}

.author {
  color: #191f58;
}

.sep-10 {
  margin: 10px 0;
}
.sep-5 {
  margin: 5px 0;
}

.sep-30 {
  margin: 30px 0;
}

.sep-50 {
  margin: 50px 0;
}

.sep-r-10 {
  margin: 0 10px;
}
.sep-r-20 {
  margin: 0 20px;
}

.nav-slogan {
  display: flex;
  align-items: center;
}

.nav-items {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  padding: 0 15px;
  display: flex;
  position: relative;
}

.nav-item a {
  color: #f8f8f8;
  font-weight: bold;
  transition: 0.3s ease;
}

.nav-item a:hover,
.nav-item a.active {
  color: #8165d6;
}

.nav-item a::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  bottom: -4px;
  left: 15px;
  background-color: #8165d6; 
  transform: scaleX(0); 
  transition: transform 0.5s; 
  transform-origin: left; 
}

.nav-item a:hover::after {
  transform: scaleX(1);
}

.nav-item img {
  width: 15px;
  filter: invert(100%) brightness(200%);
}

/* End Header  */

/* Start footer  */
.footer {
  height: auto;
}

.footer a {
  margin: 8px 0;
}

.footer-row {
  height: auto;
  padding: 50px 10%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.footer-box{
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 30px;
  max-width: 250px;
  min-width: 200px;
}

.footer-box img{
  width: 18px;
  margin: 0 10px 10px 0;
  filter: invert(100%) brightness(200%);
}

.contact-link-box a {
  display: flex;
  flex-wrap: nowrap;
}

.contact-link-box p,
.info-box p {
  margin: 0 10px 10px 0;
  font-size: 16px;
}

.social-info,
.info-box, 
.link-boxes,
.sub-box,
.contact-link-box {
  margin-top: 8px;
}

.inner-link {
  display: flex;
  flex-direction: column;
}


/* End footer  */

/* Class  */
.center-align {
  text-align: center;
}

.dis-jus-cen {
  display: flex;
  justify-content: center;
}

.alg-ite {
  align-items: center;
}

.flex-left {
  justify-content: left;
}

.v-al-bot {
  vertical-align: bottom;
}

/* button  */
.test-button {
  margin: 10px 0;
  background-color: #31239b;
  width: max-content;
  transition: all 0.3s ease;
  border-radius: 5px;

}

.test-button a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.test-button:hover {
  background-color: #221977;
  transform: translate(0px, -5px); 
}
/* button  */


/* sitemap */
.sitemap {
  color: #c4c4c4;
}

.begin {
  color: green;
}
.intermediate {
  color: rgb(0, 127, 169);
}
.advanced {
  color: #4b429a;
}

.full-w {
  width: 100%;
}